OAUTH_CLIENT_ID=<your client id>
OAUTH_CLIENT_SECRET=<your client secret>
POSTGRES_CONNECTION=<your postgresql connection string>
ACTION_CABLE_APP_ID=<your action cable app ID>
ACTION_CABLE_APP_SECRET=<your action cable app secret>
SPECIAL_SECRET_AUTH_TOKEN_DONT_SHARE=<your special secret auth token (do not share it)>
MIXPANEL_TOKEN=<your mixpanel token here>
RECURSE_CALENDAR_TOKEN=<your recurse.com/calendar token here>
