/* Reset / General */

body {
    padding-inline: 2rem;
}

p {
    max-width: 60ch;
}

button {
    cursor: pointer;
}

dd {
    margin-inline-start: 0px;
}

summary {
    cursor: pointer;
}

/* BEM - See https://getbem.com/introduction/ */

.participants {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.participants__participant {
    width: 2em;
    position: relative;
    aspect-ratio: 1;
    border-radius: 99999px;
    border: 4px solid forestgreen;
}

.participants__participant:not(:first-child) {
    margin-right: -0.8em;
}

.empty-room-memo {
    font-size: 0.8em;
    font-style: italic;
}

.room-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(65ch, 1fr));

    gap: 1.6em;
}

.room {
    margin-bottom: 0.4em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.room:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.room__header {
    background: linear-gradient(to right, #eee, #eee 80%, #fff);
    padding: 0.4em;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.4em;
}

.room__title {
    font-size: 1.4em;
}

.room__details {
    padding: 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    gap: 0.4em;
}

.note-editor,
.note-editor__form-item {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.note-editor__text-input {
    width: 100%;
}

.customization__header {
    margin-bottom: 0.4em;
}

.customization__code-preformatted {
    white-space: pre-wrap;
}
.customization__code-preformatted script {
    display: block;
}
.customization__code-preformatted script::before {
    content: "<script>";
}
.customization__code-preformatted script::after {
    content: "</script>";
}

.customization__code-preformatted style {
    display: block;
}
.customization__code-preformatted style::before {
    content: "<style>";
}
.customization__code-preformatted style::after {
    content: "</style>";
}

.customization__pause-button {
    font-size: 0.8em;
}

.customization__pause-button.customization__pause-button--confirmation {
    font-size: 1.2em;
}

/* Utilities */

/* Remove from the box model, useful for HTMX utilities */
.display-contents {
    display: contents;
}
